EventManager/ERC721_flow.json
[{"id":"b40f6c26a336a306","type":"tab","label":"ERC-721 Function Calls","disabled":false,"info":"","env":[]},{"id":"e434b4b5fad80071","type":"contract-call","z":"b40f6c26a336a306","name":"safeMint()","smartContract":"3065fb7c2045d54e","contractFunction":"safeMint","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":500,"y":200,"wires":[[],["cf0490308dfc0104"]]},{"id":"41125982c9c0efaf","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"1\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":1720,"wires":[["53038aa021512e97"]]},{"id":"53038aa021512e97","type":"contract-call","z":"b40f6c26a336a306","name":"ownerOf()","smartContract":"3065fb7c2045d54e","contractFunction":"ownerOf","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":320,"y":1800,"wires":[[],["c30e6f4b0008586a"]]},{"id":"a759e14b3453b5b3","type":"comment","z":"b40f6c26a336a306","name":"mint new NFT with random URI","info":"","x":150,"y":100,"wires":[]},{"id":"abf129ed8667d7d4","type":"comment","z":"b40f6c26a336a306","name":"read-only function calls","info":"","x":120,"y":1660,"wires":[]},{"id":"6aa15b1d7c23b45c","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1800,"wires":[]},{"id":"be628458da1f761c","type":"inject","z":"b40f6c26a336a306","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":1940,"wires":[["f26e2511ee4ba962"]]},{"id":"f26e2511ee4ba962","type":"contract-call","z":"b40f6c26a336a306","name":"name()","smartContract":"3065fb7c2045d54e","contractFunction":"name","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":280,"y":1940,"wires":[[],["910b3966b3280101"]]},{"id":"910b3966b3280101","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1940,"wires":[]},{"id":"13ff269e8424f1c2","type":"inject","z":"b40f6c26a336a306","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":2000,"wires":[["2db3c28cb498b224"]]},{"id":"2db3c28cb498b224","type":"contract-call","z":"b40f6c26a336a306","name":"symbol()","smartContract":"3065fb7c2045d54e","contractFunction":"symbol","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":280,"y":2000,"wires":[[],["09a440811a80fa6e"]]},{"id":"09a440811a80fa6e","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":2000,"wires":[]},{"id":"2bccc0e5f928cc3a","type":"inject","z":"b40f6c26a336a306","name":"Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0xA9F25CC0c6C761868627d65Eb61FADC9eDfe7e33","payloadType":"str","x":100,"y":2120,"wires":[["662e51d3cee020e3"]]},{"id":"662e51d3cee020e3","type":"contract-call","z":"b40f6c26a336a306","name":"balanceOf()","smartContract":"3065fb7c2045d54e","contractFunction":"balanceOf","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":290,"y":2160,"wires":[[],["150022f0f3d977c7"]]},{"id":"122be179b3938f26","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":2160,"wires":[]},{"id":"f4f4b0c2f17216e1","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"2\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":110,"y":1760,"wires":[["53038aa021512e97"]]},{"id":"05241990b10efcf7","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"3\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":110,"y":1800,"wires":[["53038aa021512e97"]]},{"id":"9b8a3143b520a35b","type":"inject","z":"b40f6c26a336a306","name":"Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0xD1c270687c44a895C64fA74D9fE27067F0DDc782","payloadType":"str","x":100,"y":2160,"wires":[["662e51d3cee020e3"]]},{"id":"d3acc5fb66fd6f62","type":"inject","z":"b40f6c26a336a306","name":"Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x58B9EE2E73CB9dAD8a4e50EB669C648795b96cf4","payloadType":"str","x":100,"y":2200,"wires":[["662e51d3cee020e3"]]},{"id":"ad71ca5f582f445b","type":"comment","z":"b40f6c26a336a306","name":"ganache mnemonic (click me)","info":"siren suit gift pill insect build expand decade valid roof blind museum","x":140,"y":40,"wires":[]},{"id":"2684e07c98f837c7","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"4\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":110,"y":1840,"wires":[["53038aa021512e97"]]},{"id":"0bc11d4da4dce885","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"5\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":110,"y":1880,"wires":[["53038aa021512e97"]]},{"id":"df25fe7142734656","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"1\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":2260,"wires":[["3317396027d83a32"]]},{"id":"3317396027d83a32","type":"contract-call","z":"b40f6c26a336a306","name":"tokenURI()","smartContract":"3065fb7c2045d54e","contractFunction":"tokenURI","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":330,"y":2340,"wires":[[],["0aadaec40f1af874"]]},{"id":"0aadaec40f1af874","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":2340,"wires":[]},{"id":"9e77853add5d9a30","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"2\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":110,"y":2300,"wires":[["3317396027d83a32"]]},{"id":"be7b2c800b0a9915","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"3\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":110,"y":2340,"wires":[["3317396027d83a32"]]},{"id":"54d953559c81e4f1","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"4\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":110,"y":2380,"wires":[["3317396027d83a32"]]},{"id":"36a90046df7f2278","type":"comment","z":"b40f6c26a336a306","name":"Transfer NFT (in this case for TokenID 1)","info":"","x":180,"y":320,"wires":[]},{"id":"5822b1e02b4f69d9","type":"contract-call","z":"b40f6c26a336a306","name":"safeTransferFrom() (Caller: Acc 1)","smartContract":"3065fb7c2045d54e","contractFunction":"safeTransferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":480,"y":400,"wires":[[],["7d928bf47a082b5d"]]},{"id":"c8eb17d91e55eca2","type":"function","z":"b40f6c26a336a306","name":"add random URI","func":"var account = msg.payload\nfunction random(length) {\n    var result = '';\n    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   } return result;\n}\nvar uri = \"https://ipfs.io/ipfs/\" + random(46)\nmsg.payload = [account, uri]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":200,"wires":[["e434b4b5fad80071"]]},{"id":"7c520aced0545f0e","type":"inject","z":"b40f6c26a336a306","name":"Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0xA9F25CC0c6C761868627d65Eb61FADC9eDfe7e33","payloadType":"str","x":100,"y":160,"wires":[["c8eb17d91e55eca2"]]},{"id":"9d5366a38ce28a6b","type":"inject","z":"b40f6c26a336a306","name":"Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0xD1c270687c44a895C64fA74D9fE27067F0DDc782","payloadType":"str","x":100,"y":200,"wires":[["c8eb17d91e55eca2"]]},{"id":"3c0f5feac39671e6","type":"inject","z":"b40f6c26a336a306","name":"Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x58B9EE2E73CB9dAD8a4e50EB669C648795b96cf4","payloadType":"str","x":100,"y":240,"wires":[["c8eb17d91e55eca2"]]},{"id":"3110091dd1a2759b","type":"inject","z":"b40f6c26a336a306","name":"From Account 1 to Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0xA9F25CC0c6C761868627d65Eb61FADC9eDfe7e33\",\"0xD1c270687c44a895C64fA74D9fE27067F0DDc782\",1]","payloadType":"json","x":160,"y":380,"wires":[["5822b1e02b4f69d9"]]},{"id":"713bab38e3bce536","type":"inject","z":"b40f6c26a336a306","name":"From Account 1 to Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x520528DC344442b79223b4927Db1314af84f68c3\",\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",1]","payloadType":"json","x":160,"y":420,"wires":[["5822b1e02b4f69d9"]]},{"id":"69d824bfea9b3b9d","type":"inject","z":"b40f6c26a336a306","name":"From Account 2 to Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",\"0x520528DC344442b79223b4927Db1314af84f68c3\",1]","payloadType":"json","x":160,"y":480,"wires":[["a3371b5d316114b2"]]},{"id":"98e8d842d4e7cd5a","type":"inject","z":"b40f6c26a336a306","name":"From Account 2 to Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",1]","payloadType":"json","x":160,"y":520,"wires":[["a3371b5d316114b2"]]},{"id":"34ccef80d0f7e32c","type":"inject","z":"b40f6c26a336a306","name":"From Account 3 to Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",\"0x520528DC344442b79223b4927Db1314af84f68c3\",1]","payloadType":"json","x":160,"y":580,"wires":[["7ba2b0018aea6360"]]},{"id":"7bec976bc2928214","type":"inject","z":"b40f6c26a336a306","name":"From Account 3 to Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",1]","payloadType":"json","x":160,"y":620,"wires":[["7ba2b0018aea6360"]]},{"id":"a3371b5d316114b2","type":"contract-call","z":"b40f6c26a336a306","name":"safeTransferFrom() (Caller: Acc 2)","smartContract":"3065fb7c2045d54e","contractFunction":"safeTransferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":480,"y":500,"wires":[[],["6e634444a7809116"]]},{"id":"7ba2b0018aea6360","type":"contract-call","z":"b40f6c26a336a306","name":"safeTransferFrom() (Caller: Acc 3)","smartContract":"3065fb7c2045d54e","contractFunction":"safeTransferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":480,"y":600,"wires":[[],["b8c4abf48a8da8ba"]]},{"id":"b5297288fce04774","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2520,"wires":[]},{"id":"a37be624da70b52b","type":"inject","z":"b40f6c26a336a306","name":"Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x520528DC344442b79223b4927Db1314af84f68c3","payloadType":"str","x":100,"y":2480,"wires":[["7c160195ba76db0e"]]},{"id":"7c160195ba76db0e","type":"contract-call","z":"b40f6c26a336a306","name":"balanceOf()","smartContract":"3065fb7c2045d54e","contractFunction":"balanceOf","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":290,"y":2520,"wires":[[],["66c76a5c6a30c2c1"]]},{"id":"66c76a5c6a30c2c1","type":"function","z":"b40f6c26a336a306","name":"Loop","func":"msgList = []\nvar account = msg.summary.args[0]\nfor (var i = 0; i < msg.payload; i++)\n    msgList.push({payload:[account,i]})\nreturn [msgList];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2520,"wires":[["69619a10ab2e4339"]]},{"id":"69619a10ab2e4339","type":"contract-call","z":"b40f6c26a336a306","name":"tokenOfOwnerByIndex()","smartContract":"3065fb7c2045d54e","contractFunction":"tokenOfOwnerByIndex","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":690,"y":2520,"wires":[[],["2d4d2c4510bf5469"]]},{"id":"340121f24c4ba73c","type":"inject","z":"b40f6c26a336a306","name":"Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x151BFbed168a404cCF951B5413b420b22eC90f98","payloadType":"str","x":100,"y":2520,"wires":[["7c160195ba76db0e"]]},{"id":"e0d4cd08a2348b72","type":"inject","z":"b40f6c26a336a306","name":"Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0","payloadType":"str","x":100,"y":2560,"wires":[["7c160195ba76db0e"]]},{"id":"2d4d2c4510bf5469","type":"function","z":"b40f6c26a336a306","name":"Add text to result","func":"msg.payload = \"TokenID: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2520,"wires":[["b5297288fce04774"]]},{"id":"150022f0f3d977c7","type":"function","z":"b40f6c26a336a306","name":"","func":"msg.payload = \"Amount of NFT(s): \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2160,"wires":[["122be179b3938f26"]]},{"id":"b51f27fea2f6df38","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"5\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":110,"y":2420,"wires":[["3317396027d83a32"]]},{"id":"c30e6f4b0008586a","type":"function","z":"b40f6c26a336a306","name":"Enumerate Account Nr.","func":"if (msg.payload == \"0x520528DC344442b79223b4927Db1314af84f68c3\") {\n    msg.payload = \"Account 1\"\n} else if (msg.payload == \"0x151BFbed168a404cCF951B5413b420b22eC90f98\") {\n    msg.payload = \"Account 2\"\n} else if (msg.payload == \"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\") {\n    msg.payload = \"Account 3\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1800,"wires":[["6aa15b1d7c23b45c"]]},{"id":"02a8b43f6ba5479d","type":"contract-call","z":"b40f6c26a336a306","name":"transferFrom() (Caller: Acc 1)","smartContract":"3065fb7c2045d54e","contractFunction":"transferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":460,"y":720,"wires":[[],["54132c49da366dad"]]},{"id":"69b8b00357c0cdcd","type":"inject","z":"b40f6c26a336a306","name":"From Account 1 to Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x520528DC344442b79223b4927Db1314af84f68c3\",\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",1]","payloadType":"json","x":160,"y":700,"wires":[["02a8b43f6ba5479d"]]},{"id":"d3d568a4e8c991c2","type":"inject","z":"b40f6c26a336a306","name":"From Account 1 to Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x520528DC344442b79223b4927Db1314af84f68c3\",\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",1]","payloadType":"json","x":160,"y":740,"wires":[["02a8b43f6ba5479d"]]},{"id":"b9b774370c6b8f08","type":"inject","z":"b40f6c26a336a306","name":"From Account 2 to Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",\"0x520528DC344442b79223b4927Db1314af84f68c3\",1]","payloadType":"json","x":160,"y":800,"wires":[["39fe9ba78eb060e4"]]},{"id":"b5555af4ffd4485c","type":"inject","z":"b40f6c26a336a306","name":"From Account 2 to Account 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",1]","payloadType":"json","x":160,"y":840,"wires":[["39fe9ba78eb060e4"]]},{"id":"ea6fca8084f06277","type":"inject","z":"b40f6c26a336a306","name":"From Account 3 to Account 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",\"0x520528DC344442b79223b4927Db1314af84f68c3\",1]","payloadType":"json","x":160,"y":900,"wires":[["1f9b6c48cc2759ab"]]},{"id":"1e6f08b3105ce310","type":"inject","z":"b40f6c26a336a306","name":"From Account 3 to Account 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",1]","payloadType":"json","x":160,"y":940,"wires":[["1f9b6c48cc2759ab"]]},{"id":"39fe9ba78eb060e4","type":"contract-call","z":"b40f6c26a336a306","name":"transferFrom() (Caller: Acc 2)","smartContract":"3065fb7c2045d54e","contractFunction":"transferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":460,"y":820,"wires":[[],["888d86cb8a91b42b"]]},{"id":"1f9b6c48cc2759ab","type":"contract-call","z":"b40f6c26a336a306","name":"transferFrom() (Caller: Acc 3)","smartContract":"3065fb7c2045d54e","contractFunction":"transferFrom","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":460,"y":920,"wires":[[],["b057cda44dc74c6d"]]},{"id":"4b1ac4c6c1f23628","type":"comment","z":"b40f6c26a336a306","name":"Info","info":"This flow provides a playground to test all implemented ERC-721 Functions. Make sure to mint some NFTs before trying the functions!","x":350,"y":40,"wires":[]},{"id":"c8ed3e3a75518dd6","type":"comment","z":"b40f6c26a336a306","name":"approvals","info":"","x":80,"y":1020,"wires":[]},{"id":"54f685313d35c967","type":"contract-call","z":"b40f6c26a336a306","name":"getApproved()","smartContract":"3065fb7c2045d54e","contractFunction":"getApproved","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":320,"y":1120,"wires":[[],["d99cf777f8289a87"]]},{"id":"cb6d09b9f32af9f2","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"1\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":1080,"wires":[["54f685313d35c967"]]},{"id":"ac76f413c9a929fd","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"2\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":110,"y":1120,"wires":[["54f685313d35c967"]]},{"id":"334cce8f701c4e46","type":"inject","z":"b40f6c26a336a306","name":"TokenID \"3\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":110,"y":1160,"wires":[["54f685313d35c967"]]},{"id":"64ed0ba0fd427074","type":"contract-call","z":"b40f6c26a336a306","name":"approve() (Caller: Account 1)","smartContract":"3065fb7c2045d54e","contractFunction":"approve","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":440,"y":1260,"wires":[[],["a7b087e2333b283f"]]},{"id":"cd6e3b971c32a302","type":"inject","z":"b40f6c26a336a306","name":"Account 2, TokenID 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",1]","payloadType":"json","x":140,"y":1260,"wires":[["64ed0ba0fd427074"]]},{"id":"b1f330a59a90d347","type":"inject","z":"b40f6c26a336a306","name":"Account 3, TokenID 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",1]","payloadType":"json","x":140,"y":1300,"wires":[["64ed0ba0fd427074"]]},{"id":"10eded4b240174a0","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1120,"wires":[]},{"id":"d99cf777f8289a87","type":"function","z":"b40f6c26a336a306","name":"Enumerate Account Nr.","func":"if (msg.payload == \"0x520528DC344442b79223b4927Db1314af84f68c3\") {\n    msg.payload = \"Account 1\"\n} else if (msg.payload == \"0x151BFbed168a404cCF951B5413b420b22eC90f98\") {\n    msg.payload = \"Account 2\"\n} else if (msg.payload == \"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\") {\n    msg.payload = \"Account 3\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1120,"wires":[["10eded4b240174a0"]]},{"id":"68c09d93c250b9c6","type":"inject","z":"b40f6c26a336a306","name":"Zero Address, TokenID 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x0000000000000000000000000000000000000000\",1]","payloadType":"json","x":150,"y":1220,"wires":[["64ed0ba0fd427074"]]},{"id":"a9da3574962adbbd","type":"contract-call","z":"b40f6c26a336a306","name":"isApprovedForAll()","smartContract":"3065fb7c2045d54e","contractFunction":"isApprovedForAll","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":510,"y":1380,"wires":[[],["65e787bb0483b790"]]},{"id":"52cbe1ab39754126","type":"inject","z":"b40f6c26a336a306","name":"Is Account 2 Approved for All of Account 1?","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x520528dc344442b79223b4927db1314af84f68c3\",\"0x151BFbed168a404cCF951B5413b420b22eC90f98\"]","payloadType":"json","x":200,"y":1360,"wires":[["a9da3574962adbbd"]]},{"id":"65e787bb0483b790","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1380,"wires":[]},{"id":"6bb565424b9cc0b6","type":"inject","z":"b40f6c26a336a306","name":"Is Account 3 Approved for All of Account 1?","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x520528dc344442b79223b4927db1314af84f68c3\",\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\"]","payloadType":"json","x":200,"y":1400,"wires":[["a9da3574962adbbd"]]},{"id":"7b66f770fc85d300","type":"contract-call","z":"b40f6c26a336a306","name":"setApprovalForAll() (Caller: Account 1)","smartContract":"3065fb7c2045d54e","contractFunction":"setApprovalForAll","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":false,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":450,"y":1520,"wires":[[],["68b284d91ed22073"]]},{"id":"c5d5f6c3e81f4edd","type":"inject","z":"b40f6c26a336a306","name":"Account 2, Approve","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",true]","payloadType":"json","x":130,"y":1460,"wires":[["7b66f770fc85d300"]]},{"id":"e24b66d3a0820e52","type":"inject","z":"b40f6c26a336a306","name":"Account 2, Remove","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x151BFbed168a404cCF951B5413b420b22eC90f98\",false]","payloadType":"json","x":130,"y":1500,"wires":[["7b66f770fc85d300"]]},{"id":"03fb7b150b6cbae2","type":"inject","z":"b40f6c26a336a306","name":"Account 3, Approve","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",true]","payloadType":"json","x":130,"y":1540,"wires":[["7b66f770fc85d300"]]},{"id":"7b32810890f7f169","type":"inject","z":"b40f6c26a336a306","name":"Account 3, Remove","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x47C42AeCe2878Bbaec7115830c71008B6b85aDf0\",false]","payloadType":"json","x":130,"y":1580,"wires":[["7b66f770fc85d300"]]},{"id":"e09da2bc67362bfb","type":"inject","z":"b40f6c26a336a306","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":2060,"wires":[["39d4237a49009f74"]]},{"id":"39d4237a49009f74","type":"contract-call","z":"b40f6c26a336a306","name":"totalSupply()","smartContract":"3065fb7c2045d54e","contractFunction":"totalSupply","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":290,"y":2060,"wires":[[],["9fd1d5307d2302bc"]]},{"id":"9fd1d5307d2302bc","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":2060,"wires":[]},{"id":"918c31351c6ecafc","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":2620,"wires":[]},{"id":"30d76c3e5b812552","type":"function","z":"b40f6c26a336a306","name":"Loop","func":"msgList = []\nvar account = flow.get(\"account\")\nfor (var i = 0; i < msg.payload; i++)\n    msgList.push({payload:i})\nreturn [msgList];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2620,"wires":[["2830ecd0915bed57"]]},{"id":"2830ecd0915bed57","type":"contract-call","z":"b40f6c26a336a306","name":"tokenByIndex()","smartContract":"3065fb7c2045d54e","contractFunction":"tokenByIndex","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":660,"y":2620,"wires":[[],["3728e0d53c870316"]]},{"id":"3728e0d53c870316","type":"function","z":"b40f6c26a336a306","name":"Add text to result","func":"msg.payload = \"TokenID: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":2620,"wires":[["918c31351c6ecafc"]]},{"id":"547db5008825cbad","type":"inject","z":"b40f6c26a336a306","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":2620,"wires":[["78d007594f326ad0"]]},{"id":"78d007594f326ad0","type":"contract-call","z":"b40f6c26a336a306","name":"totalSupply()","smartContract":"3065fb7c2045d54e","contractFunction":"totalSupply","senderAccount":"aa7e8392c4a99e6b","readonlyFunction":true,"weiTransfer":"","onlyEstimateGas":false,"useEstimatedGasLimit":true,"gasLimit":"","usePreviousBlocksGasPrice":true,"gasPrice":"","fetchFullTransaction":false,"x":290,"y":2620,"wires":[[],["30d76c3e5b812552"]]},{"id":"cf0490308dfc0104","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":200,"wires":[]},{"id":"7d928bf47a082b5d","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":400,"wires":[]},{"id":"6e634444a7809116","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":500,"wires":[]},{"id":"b8c4abf48a8da8ba","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":600,"wires":[]},{"id":"54132c49da366dad","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":720,"wires":[]},{"id":"888d86cb8a91b42b","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":820,"wires":[]},{"id":"b057cda44dc74c6d","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":920,"wires":[]},{"id":"a7b087e2333b283f","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1260,"wires":[]},{"id":"68b284d91ed22073","type":"debug","z":"b40f6c26a336a306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"summary","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":1520,"wires":[]},{"id":"e602fa260dd27259","type":"comment","z":"b40f6c26a336a306","name":"Smart Contract: Test Token","info":"","x":550,"y":40,"wires":[]},{"id":"3065fb7c2045d54e","type":"smart-contract","name":"ERC721 Token","ethereumClient":"41e930fe9f29b141","address":"0x5CDf4904d04eFEA5519e4C7e305ACC0c32515a70","abi":"[     {       \"inputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"constructor\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"approved\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Approval\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"indexed\": false,           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"ApprovalForAll\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"previousOwner\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"OwnershipTransferred\",       \"type\": \"event\"     },     {       \"anonymous\": false,       \"inputs\": [         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"indexed\": true,           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"Transfer\",       \"type\": \"event\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"approve\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         }       ],       \"name\": \"balanceOf\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"getApproved\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         }       ],       \"name\": \"isApprovedForAll\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"name\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"owner\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"ownerOf\",       \"outputs\": [         {           \"internalType\": \"address\",           \"name\": \"\",           \"type\": \"address\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"renounceOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         },         {           \"internalType\": \"bytes\",           \"name\": \"_data\",           \"type\": \"bytes\"         }       ],       \"name\": \"safeTransferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"operator\",           \"type\": \"address\"         },         {           \"internalType\": \"bool\",           \"name\": \"approved\",           \"type\": \"bool\"         }       ],       \"name\": \"setApprovalForAll\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [],       \"name\": \"symbol\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"index\",           \"type\": \"uint256\"         }       ],       \"name\": \"tokenByIndex\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"owner\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"index\",           \"type\": \"uint256\"         }       ],       \"name\": \"tokenOfOwnerByIndex\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [],       \"name\": \"totalSupply\",       \"outputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"\",           \"type\": \"uint256\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"from\",           \"type\": \"address\"         },         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"transferFrom\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"newOwner\",           \"type\": \"address\"         }       ],       \"name\": \"transferOwnership\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"address\",           \"name\": \"to\",           \"type\": \"address\"         },         {           \"internalType\": \"string\",           \"name\": \"uri\",           \"type\": \"string\"         }       ],       \"name\": \"safeMint\",       \"outputs\": [],       \"stateMutability\": \"nonpayable\",       \"type\": \"function\"     },     {       \"inputs\": [         {           \"internalType\": \"uint256\",           \"name\": \"tokenId\",           \"type\": \"uint256\"         }       ],       \"name\": \"tokenURI\",       \"outputs\": [         {           \"internalType\": \"string\",           \"name\": \"\",           \"type\": \"string\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     },     {       \"inputs\": [         {           \"internalType\": \"bytes4\",           \"name\": \"interfaceId\",           \"type\": \"bytes4\"         }       ],       \"name\": \"supportsInterface\",       \"outputs\": [         {           \"internalType\": \"bool\",           \"name\": \"\",           \"type\": \"bool\"         }       ],       \"stateMutability\": \"view\",       \"type\": \"function\",       \"constant\": true     }   ]"},{"id":"aa7e8392c4a99e6b","type":"sender-account","name":"TimMantis1","ethereumClient":"41e930fe9f29b141","address":"0xA9F25CC0c6C761868627d65Eb61FADC9eDfe7e33","managedByEthereumClient":true,"transactionQueueSize":"100"},{"id":"41e930fe9f29b141","type":"ethereum-client","name":"TruffleDashboardMantis","url":"http://localhost:24012/rpc"}]